<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editar</title>
</head>
<body>
    <form method="POST" action="/atualizar/{{ veiculo.id }}">
        Marca:
        <input type="text" name="Marca" required>

        Modelo:
        <input type="text" name="Modelo" required>

        Placa:
        <input type="text" name="Placa">

        Ano:
        <input type="ano" name="Ano">

        Preço:
        <input type="number" name="Preço">

        <button type="submit">atualizar</button>
    </form>
</body>
</html>