<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Veículos</title>
</head>

<body>

<h1>Cadastro de Veículos</h1>

<form method="POST" action="/veiculo">
    Marca:
    <input type="text" name="Marca" required>

    Modelo:
    <input type="text" name="Modelo" required>

    Placa:
    <input type="text" name="Placa" required>

    Ano:
    <input type="number" name="Ano" required>

    Preço:
    <input type="number" name="Preço" required>

    <button type="submit">Cadastrar</button required>
</form>

<hr>

<h2>Lista de Veículos</h2>

<ul>
    {% for veiculo in veiculos %}
    <li>
        Marca: {{ veiculo.marca }} - Modelo: {{ veiculo.modelo }} - PLaca: {{veiculo.placa}} - Ano: {{veiculo.ano}} - Preço: {{veiculo.preco}}
        [<a href="/editar/{{ veiculo.id }}">Editar</a>]
        [<a href="/remover/{{ veiculo.id }}" onclick="return confirm('Tem certeza que deseja remover este veículo?')">Remover</a>]
    </li>
    {% endfor %}
</ul>

</body>
</html>